name: Build and Push to Docker Hub

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/fitness-tracker:${{ github.run_number }} .
        
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/fitness-tracker:${{ github.run_number }}
        
      - name: Tag as latest
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/fitness-tracker:${{ github.run_number }} ${{ secrets.DOCKER_USERNAME }}/fitness-tracker:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/fitness-tracker:latest
